{
  "parser": "babel-eslint",
  "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    },
    "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "no-cond-assign": [2,"always"],
    "comma-dangle": [2,"only-multiline"],
    "new-cap": "off",
    "semi": "off",
    "no-multiple-empty-lines": "off",
    "padded-blocks": "off",
    "comma-spacing": "off",
    "no-console": 1,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": [2,"functions"],
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "no-tabs": 0,
    "use-isnan": 2,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,
    "complexity": [2,10],
    "consistent-return": 2,
    "default-case": 2,
    "dot-location": [2,"property"],
    "eqeqeq": [2,"smart"],
    "guard-for-in": 2,
    "key-spacing": "off",
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-invalid-this": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": [2,{"props":true}],
    "no-process-env": 0,
    "no-redeclare": [2,{"builtinGlobals":true}],
    "no-return-assign": [2,"always"],
    "no-self-compare": 2,
    "no-useless-call": 2,
    "no-void": 2,
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 2,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": [2,{"builtinGlobals":false,"hoist":"all"}],
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }]  ,
    "no-use-before-define": [2,"nofunc"],
    "no-lonely-if": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": [2,"always"],
    "object-curly-spacing": "off",
    "prefer-const": 2,
    "prefer-spread": 2,
    "require-yield": 2,
    "react/prop-types": "off",
    "space-infix-ops": "off",
    "arrow-body-style": "off",
    "arrow-parens" : "off",
    "arrow-spacing": off,
    "spaced-comment": off,
    "no-mixed-operators": off,
    "quote-props": off,
    "jsx-a11y/no-static-element-interactions": off,
    "no-trailing-spaces": off,
    "max-depth": [2,4],
    "import/prefer-default-export": 0,
    "react/jsx-closing-bracket-location": 0,
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": 0
  }
}
